.imagem_jogo_detail{
    width: 45%;
    padding: 10px 0 0 0;
}
.titulo_jogo{
    font-family: Spartan-Bold;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
}
.box_palpite{
    width: 50%;
    margin-left: auto;
    background: rgba(17, 68, 104, 0.6);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-right: 25%;
}
.label_jogo{
    font-family: Spartan-Bold;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 15px;   
}
.btn_palpitar{
    background-color: rgba(100, 6, 22, 0.71);
    border: none;
    color:#fff;
    margin-bottom: 30px;
}
.btn_palpitar:hover{
    background-color: rgb(100, 6, 22);
    border: none;
    color:#fff;
}
.modal_palpite{
    background: rgb(17, 68, 104);
    color: #fff;
}
.btn_palpitar_modal{
    background-color: rgba(100, 6, 22, 0.71);
    border: none;
    color:#fff;
}
.btn_palpitar_modal:hover{
    background-color: rgb(100, 6, 22);
    border: none;
    color:#fff;
}